*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

:root {
    --white-color: #f9c9f9;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--white-color);
}

.container {
    background-color: aquamarine;
    width: 90%;
    margin: 0 auto;
}

.header {
    top: 0;
    padding: .25em;
}