* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    font-size: 1rem;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main-content main-content side-right"
    "footer footer footer footer";
    gap: .225rem; 
    grid-template-columns: 18% 50% auto 22%; /* Column widths */
    border: 2px solid yellow;
}

.header {
    font-size: 1rem;
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%; 
    height: 5em; 
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 2;
    border: 2px solid yellow;
}

.sidebar {
    font-size: 1rem;
    grid-area: sidebar;
    position: fixed;
    top: 5em; /* Height of the header */
    bottom: 0;
    width: 18%; 
    background-color: #f0f0f0; /* Sidebar background color */
    z-index: 1;
    border: 2px solid yellow;
    padding: .5em;
}

.main-content {
    font-size: 1rem;
    grid-area: main-content;
    /* margin-left: 20%; Width of the sidebar */
    padding: .5rem;
    margin-top: 5em;
    border: 2px solid yellow;
}

.side-right {
    font-size: 1rem;
    grid-area: side-right;
    padding: .5em;
    margin-top: 5em;
    border: 2px solid yellow;
}

.footer {
    font-size: 1rem;
    grid-area: footer;
    clear: both;
    background-color: #333; /* Footer background color */
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border: 2px solid yellow;
}

@media screen and (max-width: 690px) {
    .grid-container {
        grid-template-columns: 100%; /* Full width for all columns */
    }

    .header,
    .sidebar,
    .main-content,
    .side-right {
        position: static; /* Remove fixed positioning */
        width: 100%; /* Full width for all elements */
        margin-left: 0; /* Remove margin for content and side-right */
    }
}
