* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0em;
}

header {
    background-color: bisque;
    padding: 2em 0;
}

.nav-container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.nav-box {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-weight: 700;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0em;
    justify-content: center;
}

nav li {
    margin-left: 2em;
    font-weight: 700;
    
}

nav a {
    text-decoration: none;
    color: black;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: blue;
    cursor: pointer;
}

.current-page {
    border-bottom: 2px solid blue;
}

.current-page:hover {
    color: black;
}

@media (max-width:768px) {

    html {
        font-size: 12px;
    }
    
    .nav-box {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em;
    }
}