/*############  ############*/

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0em;
    font-weight: 300;
}

/*############ Page Header ############*/
header {
    background-color: #f8f8f8;
    padding: 1em 0;
    margin-bottom: 2em;
}

.nav-container {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
}

.nav-box {
    display: flex;
    justify-content: space-between;
}

.nav-container h1 {
    font-weight: 700;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    margin: 0;
    font-size: .75rem;
    color: #1792d2;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0em;
    justify-content: center;
}

nav li {
    margin-left: 2em;
    font-weight: 700;
    
}

nav a {
    text-decoration: none;
    color: black;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: blue;
    cursor: pointer;
}

.current-page {
    border-bottom: 2px solid blue;
    color: blue;
}

.current-page:hover {
    color: black;
}

/*############ Page Content ############*/
.content-container {
    width: 95%;
    max-width: 1080px;
    margin: 0 auto;
}

.content-cantainer-flex {
    display: flex;
    justify-content: space-between;
}

main {
    width: 70%;
}

aside {
    width: 25%;
}

.article-featured {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #787878;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.article-title {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
}

.content-container h2,
.content-container h3 {
    margin-top: 0;
}

.article-image {
    order: -2;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.article-info {
    font-size: .875rem;
    margin: 1em 0;
    order: -1;
}

.article-read-more {
    font-size: 0.875rem;
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus {
    color: #143774;
    text-decoration: underline;
}

.article-resent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.article-recent-main {
    order: 2;
    width: 68%;
}

.article-recent-secondary {
    order: 1;
    width: 30%;
}

.side-widget {
    border: 15px solid #efefef;
    margin-bottom: 2em;
    padding: 4px;
}

.widget-title {
    font-size: 1rem;
    font-weight: 700;
}

.widget-resent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #707070;
    margin-bottom: 1em;
}

.widget-resent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-recent-post-title {
    font-size: 1rem;
}

.widget-image {
    order: -1;
}

.content-container a {
    color: #1792d2;
    font-weight: bolder;
}

.content-container a:hover,
.content-container a:focus {
    color: #143774;
}

strong {
    font-weight: 700;
}

footer{
    background-color: #143774;
    color: white;
    text-align: center;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
}

/*############ Break Points ############*/

@media (max-width:768px) {

    html {
        font-size: 12px;
    }
    
    .nav-box {
        flex-direction: column;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: .5em;
    }

    .content-cantainer-flex{
        flex-direction: column;
    }

    main,
    aside {
        width: 100%;
    }

    .article-resent {
        flex-direction: column;
    }

    .article-recent-main,
    .article-recent-secondary {
        width: 100%;
    }

    .article-image {
        min-height: auto;
    }

    footer {
        flex-direction: column;
    }

}