#sitemap {
    font-size: 10px;
    font-weight:bold;
}
#sitemap ul li {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;

}
#productsitemap  {
    width: 100%;
    float: left;
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: rgb(78, 42, 42);
    padding-left: 10px;
    -webkit-columns: 6;
    -moz-columns: 6;
    columns: 6;
    height: 2700px;
    border: 1px solid;
}