* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
}

.page-container {
    background-color: aquamarine;
    padding: 20px;
    margin: 20px 0px 0px 2%;
    width: 95%;
    border: 2px solid black;
    
}

.page-container h1 {
    text-align: center;
}
.page-container .img{
    width: 100%;
    border: 2px solid red;

}

.page-container img {
    width: 100%;
}





@media screen {
    
}