* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    background-color: antiquewhite;
    margin: 0rem;
    font-size: 1.125rem;
}

.content-container {
    background-color: green;
    text-align: center;
}

.photo-box{
    width: 25%;
    float: left;
    padding: .5rem;
    border: 2px solid green;
    border-radius: 10px;
}

/* .photo-box::after {
    content: "";
    clear: both;
    display: table;
} */

.photo-box:hover {
    transition: 1s ease-in-out;
    cursor: pointer;
}

.content-container img {
    width: 100%;
    border: 1px solid green;
    box-shadow: 1px 0 0 5px rgba(7, 255, 94, 0.2);
}

.content-container .bird-name {
    border: 1px solid green;
    box-shadow: 1px 0 0 5px rgba(7, 255, 94, 0.2);
}

@media (max-width:768px) {
    html {
        font-size: 12px;
    }
    .photo-box {
        padding: 0rem;
    }
}

@media (max-width:370px) {
    html {
        font-size: 9px;
    }
}