* {
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0em;
}

.login-form-btn {
    width: auto;
}

.form-container {
    width: 50%;
    margin: 1.5em auto;
}

.container {
    padding: 1.5em;
}

form {
    border: 2px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 1.1em;
    margin: .5em 0;
    display: inline-block;
    border: 1px splid #c1c1c1;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: #04aa6d;
    margin: .5em 0;
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;
    border: none;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: .8em 1em;
    background-color: #f44339;
}

.img {
    text-align: center;
    margin-top: 1.5em;
}

img.avatar {
    border-radius: 50%;
}

span.password {
    float: right;
    padding-top: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding: 3em; */
}

.modal-content {
   background-color: #f1f1f1;
   position: relative; 
}

.close {
    position: absolute;
    right: 1em;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #f44339;
    cursor: pointer;
}

/* zoom animation */
.animate {
    animation: animatezoom 0.6s;
}

@keyframes animatezoom {
    from { transform: scale(0);}
    to {
        transform: scale(1);
    }
}

/* break point */

@media  screen and (max-width: 680px) {
    span.password {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .form-container {
        width: 100%;
    }
}