* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    width: 95%;
    border: 2px solid red;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "head head head"
    "aside content side"
    "foot foot foot";
    gap: .5em;
    padding: .5em;
    grid-template-columns: 20% 50% 25%;
    position: relative;
}

.header {
    grid-area: head;
    border: 2px solid red;
    padding: .5em;
    height: 5em;
    position: fixed;
    top: 0;
    width: 93%;
    background-color: antiquewhite;
    z-index: 2;
}

aside {
    grid-area: aside;
    border: 2px solid red;
    padding: .5em;
    position: fixed;
    height: 100vh;
    /* margin-top: 5.5em; */
    margin: 5.5em 0 0 0;
    width: 20%;
    z-index: 1;
}

article {
    grid-area: content;
    border: 2px solid red;
    padding: .5em;
}

.side {
    grid-area: side;
    border: 2px solid red;
    padding: .5em;
}

footer {
    grid-area: foot;
    border: 2px solid red;
    padding: .5em;
}


@media screen and (max-width: 690px) {
    .grid-container {
        display: block;
    }

    .heaader {
        position: absolute;
    }

    aside {
        position: absolute;
        display: block;
    }
}